*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  scroll-behavior: smooth;
  font-family: 'Jost', sans-serif;
  list-style: none;
  text-decoration: none;
}

.movie-list-container {
  padding: 30px;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 200px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 40px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: #333;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-title {
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  /* text-align: center; */
}

.logo {
  margin-left: 20px;
}

.logo img{
  width: 250px;
}

.myNavbar {
  position: fixed;
  width: 100%;
  background-color:black;
  z-index: 1000;
  top: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-container {
  flex: 1;
  background-color: black;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.menu-list-item {
  display: inline-block;
  margin-right: 20px;
  color: #efe9e9;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;

}

.myContainer {
  margin-top: 70px; 
  padding: 20px;
  background-color: #151515;
}


/* Styling for Carousel */

.mySlider {
  width: 100%; 
  margin: auto; 
  color:white;
}

#carouselExampleInterval {
  border-radius: 10px; 
  overflow: hidden; 
}

.carousel-inner {
  text-align: center;
}

.carousel-item img {
  width: 100%; 
  border-radius: 10px; 
}

.carousel-control-prev, .carousel-control-next {
  width: 5%; 
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #333;
  border-radius: 50%; 
}